@model IEnumerable<Clinic_WebApp.Models.Patient>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PatFname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PatLname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PatBirthDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PatTelNo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PatFname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PatLname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PatBirthDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PatTelNo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PatId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PatId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PatId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
