@model Clinic_WebApp.Models.Consultation

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Consultation</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConsultDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConsultDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Diagnosis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diagnosis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Doc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Doc.DocId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pat.PatId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ConsultId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
